@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  background-color: #09090b;
  color: white;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #18181b; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #3f3f46; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #10b981; }

/* Leaflet Dark Mode Overrides */
.leaflet-container {
    background: #09090b !important;
    font-family: inherit;
    z-index: 0;
}
.leaflet-control-attribution {
    display: none !important;
}
.leaflet-popup-content-wrapper {
    background: rgba(24, 24, 27, 0.95) !important;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white !important;
    border-radius: 12px !important;
}
.leaflet-popup-tip {
    background: rgba(24, 24, 27, 0.95) !important;
}